h2 {
  color: #666; }

<<<<<<< HEAD
<<<<<<< HEAD
h1 {
  color: #333; }
=======
body {
  background-color: #000; }
>>>>>>> Background color changed to black
=======
body {
  background-color: #222; }
>>>>>>> changed background color to 222
